* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(15,15,15);
}

#maindiv{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.colorPixel {
    background-color: #ffffff;
    width: 50px;
    height: 50px;
}
.grid{
    border-width: 1px;
    border-style: solid;

}


#canvas{
    
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;

}


#sidemenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 500px;
    height: 800px;
    background-color: rgb(30,30,30);
    border-radius: 40px;
    padding: 50px;
    display: flex;
    color: white;
}

#cover{
    display: block;
    position:absolute;
    width: 800px;
    height: 800px;
    background-color: black;
    opacity: 0.3
}
.cover-off{
    display: none;
    background-color: transparent;
}

#color-picker {
    border-radius: 3px;
    border-color: transparent;
    background-color: transparent;
    height: 50px;
    width: 50px;

}

#buttons-div{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#buttons-div > button{
    border-radius: 20px;
    height: 40px;
    width: 200px;
}
#buttons-div >button:active{
    background-color: rgb(200,200,200);
}
